footer {
    width: 100%;
    height: 10%;
    background-color: var(--cor2);
    color: var(--cor1);
    text-align: center;
    padding: 10px 20px; /* Menos padding vertical para um visual mais limpo */
    margin-top: 345px; /* Espaço entre o conteúdo principal e o rodapé */
}