@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* CONFIGURAÇÕES GLOBAL */
/* Variáveis que auxilia na mudnça das cores dos elemntos de forma mais prática, ex.: Mudar a cor da Var --cor0, tudo o que foi configurado nessa cor vai mudar pra nova cor escolhida*/
:root {
    --cor0: #000000;
    --cor1: #ffffff;
    --cor2: #02634f;
    --cor3: #ff4500;
    --cor4: #cc3700;
    --cor5: #f6fadd;

    --font-padrao: Agrandir, Arial, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
}

/* Retira todas as margins e padding */
* {
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 16px; 
    font-family: var(--font-padrao);
    background-color: var(--cor5);
}

header {
    min-height: 0px;
}

.linha {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 4px;
    margin-bottom:5px !important;
    margin-left: 40px;
}

.linha p {
    width:auto;
    margin: 0;
    font-weight: bold;;
}

.linha input {
    width: 30%;
    padding: 5px;
    border-radius: 5%;
}
#botao_enviar {
    background-color: rgb(255, 98, 0);
    border-radius: 5%;
    width:140px;
    height:45px;
    color:white;
    margin-left: 40px;
    margin-top:10px;
    border:none;
    cursor:pointer;
}
.familia {
    width: 600px;
    height:auto;
    position: fixed;
    bottom: 20px;
    right:20px;
}
.footer {
    /* --- A SOLUÇÃO ESTÁ AQUI --- */
    width: 100%;             /* 1. Força o rodapé a ocupar 100% da largura da tela */
    box-sizing: border-box;  /* 2. Garante que o padding não "estoure" a largura */
    
    text-align: center;      /* 3. Agora, este comando vai centralizar o texto corretamente */
    padding: 20px;
    font-size: 0.8em;
    color: #fffcfc;
}