
@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* CSS RESPONSIVO - por Gemini
  Abordagem: Mobile First (o padrão é para celular, e adaptamos para telas maiores)
  Técnica Principal: Flexbox para layout, unidades relativas (rem, %, vw) e clamp() para fontes.
*/

/* --- VARIÁVEIS GLOBAIS --- */
:root {
    --cor0: #000000;
    --cor1: #ffffff;
    --cor2: #02634f;
    --cor3: #ff4500;
    --cor4: #cc3700;
    --cor5: #f6fadd;

    --font-padrao: Agrandir, Arial, sans-serif;
    --font-destaque: "Bebas Neue", sans-serif;
}

body {
    background-color: #eeeee3;
}
#botao_inicio_reciclador {
    width:150px;
    height:60px;
    white-space:normal;
    text-align: center;
    margin:0 auto;
    margin-top:500px;
    display:block;
    background-color: orangered;
    color:white;
    border-radius: 5%;
    border:none;
    cursor:pointer;
    font-size: 17px;
}
.frase_parabens_reciclador {
    text-align: center;
    color: rgb(57, 105, 48);
    font-family: var(--font-destaque);
}
.reciclador2 {
    display: block;
    margin: 0 auto;
    width: auto;
    height: 580px;
    margin-top: -620px;

}
.logo2 {
    position:absolute;
    margin:0;
    right:0;
    width:200px;
    height:auto;
}